#### 1. Import pandas library

In [2]:
import pandas as pd

#### 2. Import users table:

In [3]:
users_data = pd.read_csv('/Users/jossuebangos/Documents/GitHub/lab-data-cleaning/your-code/users_table.csv')
print(users_data.head())

   Id  Reputation         CreationDate   DisplayName       LastAccessDate  \
0  -1           1  2010-07-19 06:55:26     Community  2010-07-19 06:55:26
1   2         101  2010-07-19 14:01:36  Geoff Dalgas  2013-11-12 22:07:23
2   3         101  2010-07-19 15:34:50  Jarrod Dixon  2014-08-08 06:42:58
3   4         101  2010-07-19 19:03:27        Emmett  2014-01-02 09:31:02
4   5        6792  2010-07-19 19:03:57         Shane  2014-08-13 00:23:47

                       WebsiteUrl            Location  \
0  http://meta.stackexchange.com/  on the server farm
1        http://stackoverflow.com       Corvallis, OR
2        http://stackoverflow.com        New York, NY
3    http://minesweeperonline.com   San Francisco, CA
4         http://www.statalgo.com        New York, NY

                                             AboutMe  Views  UpVotes  \
0  <p>Hi, I'm not really a person.</p>\n\n<p>I'm ...      0     5007
1  <p>Developer on the StackOverflow team.  Find ...     25        3
2  <p><a href="http://blog.stackoverflow.com/2009...     22       19
3  <p>currently at a startup in SF</p>\n\n<p>form...     11        0
4  <p>Quantitative researcher focusing on statist...   1145      662

   DownVotes  AccountId   Age                     ProfileImageUrl
0       1920         -1   NaN                                 NaN
1          0          2  37.0                                 NaN
2          0          3  35.0                                 NaN
3          0       1998  28.0  http://i.stack.imgur.com/d1oHX.jpg
4          5      54503  35.0                                 NaN

#### 3. Rename Id column to userId

In [4]:
#rename function in Pandas, one needs to specify a mapper, a dictionary with old name as keys and new name as values. 

users_data.rename(columns={'Id':'userId'},inplace=True)
#print(users_data.head())
print(users_data.columns)

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 4. Import posts table:

In [5]:
posts_data = pd.read_csv('/Users/jossuebangos/Documents/GitHub/lab-data-cleaning/your-code/posts_table.csv')
#print(posts_data.head())

#### 5. Rename Id column to postId and OwnerUserId to userId

In [6]:
posts_data.rename(columns={'Id':'postId','OwnerUserId':'userId'},inplace=True)
print(posts_data.columns)

Index(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [12]:
new_df = pd.DataFrame(users_data,columns=('userId','Reputation','Views','UpVotes','DownVotes'))
new_df

new_posts = pd.DataFrame(posts_data,columns=('postId','Score','userId','ViewCount','CommentCount'))
new_posts

       postId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
...       ...    ...      ...        ...           ...
39995   48321      0  19966.0        NaN             0
39996   48322      3    892.0        NaN             2
39997   48323      1   2020.0        NaN             0
39998   48324      3  19914.0        NaN             0
39999   48325     -1  19968.0      116.0             4

[40000 rows x 5 columns]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [16]:
merged_df = new_posts.merge(new_df,on='userId')
print(merged_df)
#print(new_df)
#print(new_posts)

       postId  Score   userId  ViewCount  CommentCount  Reputation  Views  \
0           1     23      8.0     1278.0             1        6764   1089
1          16     16      8.0        NaN             3        6764   1089
2          36     41      8.0    67396.0             7        6764   1089
3          65     14      8.0        NaN             3        6764   1089
4          78     33      8.0        NaN             4        6764   1089
...       ...    ...      ...        ...           ...         ...    ...
38957   48313     -1  19735.0        NaN             1           1      5
38958   48317      8  19960.0     1894.0             1         153      9
38959   48318      0  19962.0       52.0             4           1      1
38960   48321      0  19966.0        NaN             0           1      1
38961   48325     -1  19968.0      116.0             4           1      1

       UpVotes  DownVotes
0          604         25
1          604         25
2          604         25
3          604         25
4          604         25
...        ...        ...
38957        0          0
38958       18          0
38959        0          0
38960        0          0
38961        0          0

[38962 rows x 9 columns]

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [38]:
import numpy as np 
merged_df.isnull().sum()
#print(merged_df)
#I have the following options: 
# 1. fillna()
# 2. replace()
# 3. interpolate()
# 4. dropna()

df1= merged_df.fillna(0)
#print(df1)
df2 = merged_df.replace(to_replace = np.nan, value=1) #I represent a value with numpy
#print(df2)
df3 = merged_df.interpolate(method='linear', limit_direction ='both')
#print (df3)
df4 = merged_df.dropna()
print(df4)

       postId  Score   userId  ViewCount  CommentCount  Reputation  Views  \
0           1     23      8.0     1278.0             1        6764   1089
2          36     41      8.0    67396.0             7        6764   1089
6         114     30      8.0     1220.0             1        6764   1089
9         168     17      8.0     1022.0             1        6764   1089
10        170     56      8.0     7733.0             1        6764   1089
...       ...    ...      ...        ...           ...         ...    ...
38955   48306      5  19949.0      551.0             1          28      0
38956   48310      0  19953.0      240.0             1           1      2
38958   48317      8  19960.0     1894.0             1         153      9
38959   48318      0  19962.0       52.0             4           1      1
38961   48325     -1  19968.0      116.0             4           1      1

       UpVotes  DownVotes
0          604         25
2          604         25
6          604         25
9          604         25
10         604         25
...        ...        ...
38955        0          0
38956        0          0
38958       18          0
38959        0          0
38961        0          0

[15390 rows x 9 columns]

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [48]:
#merged_df.dtypes
print(df4.astype('int64').dtypes)

postId          int64
Score           int64
userId          int64
ViewCount       int64
CommentCount    int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
dtype: object

In [47]:
print(df4.astype({'Views':'int64'}).dtypes)

postId            int64
Score             int64
userId          float64
ViewCount       float64
CommentCount      int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
dtype: object